# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/

# Django
resume_builder/media/
resume_builder/staticfiles/
resume_builder/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS / editor
.DS_Store
Thumbs.db
